Código JSON do Fluxo Node-RED
[{"id":"949b8c469b1ca276","type":"group","z":"e29c260c3ea41a53","name":"DETEÇÃO DE PESSOA","style":{"stroke":"#ffC000","label":true,"label-position":"n","color":"#0070c0"},"nodes":["f0cb6b8bb62c5e9b","3ec6263c182721d8","95af667daeaf11ea","f078757aa1eb21df","4925c4f478c1c43b","df40d97ef0798016","6c72bfe3efb56569","368b1f735340dba8","1e968d7581894b2a"],"x":154,"y":339,"w":1292,"h":362},{"id":"f0cb6b8bb62c5e9b","type":"server-state-changed","z":"e29c260c3ea41a53","g":"949b8c469b1ca276","name":"DETECACAO DE PESSOA NA GARRAGEM","server":"49b5923d.6a16bc","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.garagem_person_occupancy_2"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":350,"y":500,"wires":[["df40d97ef0798016","95af667daeaf11ea","6c72bfe3efb56569","368b1f735340dba8","1e968d7581894b2a"],[]]},{"id":"3ec6263c182721d8","type":"delay","z":"e29c260c3ea41a53","g":"949b8c469b1ca276","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":590,"y":660,"wires":[["f078757aa1eb21df"]]},{"id":"95af667daeaf11ea","type":"api-call-service","z":"e29c260c3ea41a53","g":"949b8c469b1ca276","name":"","server":"557923f3.94213c","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.iluminacao_switch_8"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_on","x":360,"y":660,"wires":[["3ec6263c182721d8"]]},{"id":"f078757aa1eb21df","type":"api-call-service","z":"e29c260c3ea41a53","g":"949b8c469b1ca276","name":"","server":"557923f3.94213c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.iluminacao_switch_8"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_off","x":880,"y":660,"wires":[[]]},{"id":"4925c4f478c1c43b","type":"inject","z":"e29c260c3ea41a53","g":"949b8c469b1ca276","name":"TESTE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":400,"wires":[["df40d97ef0798016","6c72bfe3efb56569","95af667daeaf11ea","368b1f735340dba8"]]},{"id":"df40d97ef0798016","type":"api-call-service","z":"e29c260c3ea41a53","g":"949b8c469b1ca276","name":"ENVIA MENSAGEM E IMAGEM APARA O APP","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.notify","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"Alguém foi detectado na entrada!\",\"data\":{\"image\":\"/api/image_proxy/image.garagem_person_2?token=1eafba94cb02c41942977c5cacd0c6920e1b72e96ce27cb0c652bc1c6af16992\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"all","blockInputOverrides":false,"domain":"notify","service":"notify","x":1240,"y":380,"wires":[[]]},{"id":"6c72bfe3efb56569","type":"api-call-service","z":"e29c260c3ea41a53","g":"949b8c469b1ca276","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"PESSOA DETECTADA NA GARAGEM ,POR FAVOR  VERIFICAR.\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1180,"y":500,"wires":[[]]},{"id":"368b1f735340dba8","type":"api-call-service","z":"e29c260c3ea41a53","g":"949b8c469b1ca276","name":"GOOGLE HOME FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"tts.google_translate_say","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\":\"media_player.nestmini1247\",\"message\":\"PESSOA DETECTADA NA GARAGEM,POR FAVOR  VERIFICAR\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"tts","service":"google_translate_say","x":1210,"y":440,"wires":[[]]},{"id":"1e968d7581894b2a","type":"debug","z":"e29c260c3ea41a53","g":"949b8c469b1ca276","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":440,"wires":[]},{"id":"49b5923d.6a16bc","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"557923f3.94213c","type":"server","name":"Home Assistant","addon":true}]
