Localize meu Celular
[{"id":"78ee26ad82a6da63","type":"group","z":"982cb69e7efe93b3","name":"ENCONTRE VALMIR","style":{"label":true,"label-position":"n","color":"#0070c0"},"nodes":["d2b5a202493c322a","5c2e31813e79875a","c9a2c5793bd3e81c","1c29524ec6cd4694","986138d9b47db707","3873c5f9855cb3c3","44da0dd176f5dfb5","b67c69ead3d0c7af","76a02b7c08ef266e"],"x":114,"y":99,"w":1112,"h":282},{"id":"d2b5a202493c322a","type":"inject","z":"982cb69e7efe93b3","g":"78ee26ad82a6da63","name":"TESTE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"message\": \"Valmir, localizando seu celular...\", \"data\": { \"type\": \"tts\" }}","payloadType":"json","x":310,"y":140,"wires":[["5c2e31813e79875a"]]},{"id":"5c2e31813e79875a","type":"api-current-state","z":"982cb69e7efe93b3","g":"78ee26ad82a6da63","name":"Localização","server":"49b5923d.6a16bc","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.2312dra50g_geocoded_location","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"loc","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":570,"y":140,"wires":[["c9a2c5793bd3e81c"]]},{"id":"c9a2c5793bd3e81c","type":"api-current-state","z":"982cb69e7efe93b3","g":"78ee26ad82a6da63","name":"Bateria","server":"49b5923d.6a16bc","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.2312dra50g_battery_level","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"bat","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":860,"y":140,"wires":[["1c29524ec6cd4694"]]},{"id":"1c29524ec6cd4694","type":"api-current-state","z":"982cb69e7efe93b3","g":"78ee26ad82a6da63","name":"Wi-Fi","server":"49b5923d.6a16bc","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.2312dra50g_wifi_connection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"wif","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":1130,"y":140,"wires":[["3873c5f9855cb3c3"]]},{"id":"986138d9b47db707","type":"api-call-service","z":"982cb69e7efe93b3","g":"78ee26ad82a6da63","name":"ALEXA FALA O PAYLOAD","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1020,"y":260,"wires":[[]]},{"id":"3873c5f9855cb3c3","type":"template","z":"982cb69e7efe93b3","g":"78ee26ad82a6da63","name":"MONTA A MENSAGEM ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sua ultima localização foi obitida :{{loc}}, sua bateria está com {{bat}} % de carga, seu celular está conectado na rede:{{wif}}.","output":"str","x":370,"y":260,"wires":[["986138d9b47db707","44da0dd176f5dfb5","b67c69ead3d0c7af"]]},{"id":"44da0dd176f5dfb5","type":"debug","z":"982cb69e7efe93b3","g":"78ee26ad82a6da63","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":340,"wires":[]},{"id":"b67c69ead3d0c7af","type":"api-call-service","z":"982cb69e7efe93b3","g":"78ee26ad82a6da63","name":"GOOGLE HOME FALA O PAYLOAD","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"tts.google_translate_say","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\":\"media_player.nestmini1247\",\"message\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"tts","service":"google_translate_say","x":1050,"y":340,"wires":[[]]},{"id":"76a02b7c08ef266e","type":"server-state-changed","z":"982cb69e7efe93b3","g":"78ee26ad82a6da63","name":"","server":"bf9fa42387cda426","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.cade_valmir"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":300,"y":180,"wires":[["5c2e31813e79875a"]]},{"id":"49b5923d.6a16bc","type":"server","name":"Home Assistant","addon":true},{"id":"bf9fa42387cda426","type":"server","name":"Home Assistant","addon":true}]
