nodeRED.txt
[{"id":"c2d83a55b63f4446","type":"group","z":"f6b9f3f3e4649edd","name":"DETECÇÃO DE PESSOA","style":{"stroke":"#ffC000","label":true,"label-position":"n","color":"#0070c0"},"nodes":["751e3a762e53c132","71e1bcd7966a426a","5dbdd8f1853845ba","c583f9dd998133d8","46b5d101367ed319","c416410e7737260b","6ab645da6ef3c3a4","f63f2d7a56bdd640","57157a39531c2cd5","eae3b8ea8f6caa79","b68ef4d7c2779703"],"x":34,"y":39,"w":1392,"h":302},{"id":"751e3a762e53c132","type":"server-state-changed","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"DETEÇÂO DE PESSOA NA GARRAGEM","server":"49b5923d.6a16bc","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.garagem_person_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":180,"wires":[["5dbdd8f1853845ba","57157a39531c2cd5","b68ef4d7c2779703"],[]]},{"id":"71e1bcd7966a426a","type":"delay","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"","pauseType":"delay","timeout":"241","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":690,"y":300,"wires":[["c583f9dd998133d8"]]},{"id":"5dbdd8f1853845ba","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"","server":"557923f3.94213c","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.iluminacao_switch_8"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_on","x":480,"y":300,"wires":[[]]},{"id":"c583f9dd998133d8","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"","server":"557923f3.94213c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.iluminacao_switch_8"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_off","x":900,"y":300,"wires":[[]]},{"id":"46b5d101367ed319","type":"inject","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"TESTE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["b68ef4d7c2779703","57157a39531c2cd5"]]},{"id":"c416410e7737260b","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"ENVIA MENSAGEM E IMAGEM APARA O APP","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.notify","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"Alguém foi detectado na entrada!\",\"data\":{\"image\":\"/api/image_proxy/image.garagem_person?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIyOGY2M2M0OThjNmQ0NDUxOGU4ZmM1MWJiM2IzYmJhOCIsImlhdCI6MTc0Mjk4Nzc0MiwiZXhwIjoyMDU4MzQ3NzQyfQ.fc07qdRBJSpu1uGGPbekTJpvft6rp-zGsUK2hcKC5dE\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"all","blockInputOverrides":false,"domain":"notify","service":"notify","x":1220,"y":80,"wires":[[]]},{"id":"6ab645da6ef3c3a4","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"PESSOA DETECTADA NA GARAGEM ,POR FAVOR  VERIFICAR.\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1160,"y":200,"wires":[[]]},{"id":"f63f2d7a56bdd640","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"GOOGLE HOME FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"tts.google_translate_say","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\":\"media_player.home\",\"message\":\"PESSOA DETECTADA NA GARAGEM,POR FAVOR  VERIFICAR\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"tts","service":"google_translate_say","x":1190,"y":140,"wires":[[]]},{"id":"57157a39531c2cd5","type":"delay","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":80,"wires":[["c416410e7737260b"]]},{"id":"eae3b8ea8f6caa79","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"PESSOA DETECTADA NA GARAGEM ,POR FAVOR  VERIFICAR.\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1160,"y":260,"wires":[[]]},{"id":"b68ef4d7c2779703","type":"api-current-state","z":"f6b9f3f3e4649edd","g":"c2d83a55b63f4446","name":"Notificações por Voz Ativadas?","server":"49b5923d.6a16bc","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.input_boolean_notificacoes_por_voz","blockInputOverrides":false,"outputProperties":[],"for":"","forType":"num","x":830,"y":180,"wires":[[],["f63f2d7a56bdd640","6ab645da6ef3c3a4","eae3b8ea8f6caa79"]]},{"id":"49b5923d.6a16bc","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"557923f3.94213c","type":"server","name":"Home Assistant","addon":true},{"id":"8d89276ed603bb34","type":"group","z":"f6b9f3f3e4649edd","name":"ENCONTRE VALMIR","style":{"label":true,"label-position":"n","color":"#0070c0"},"nodes":["c95f2b160381b2c3","b9ba5cebc5d9a2f7","48ce1ed112f581d2","c6d89c5fe820784a","9d7f647260e30366","da906a2aa6efd83f","bd1306b8c7f2dc52","cad1e10a9efd108f","e14a776e010d01da"],"x":34,"y":379,"w":1112,"h":282},{"id":"c95f2b160381b2c3","type":"inject","z":"f6b9f3f3e4649edd","g":"8d89276ed603bb34","name":"TESTE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"message\": \"Valmir, localizando seu celular...\", \"data\": { \"type\": \"tts\" }}","payloadType":"json","x":230,"y":420,"wires":[["b9ba5cebc5d9a2f7"]]},{"id":"b9ba5cebc5d9a2f7","type":"api-current-state","z":"f6b9f3f3e4649edd","g":"8d89276ed603bb34","name":"Localização","server":"49b5923d.6a16bc","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.2312dra50g_geocoded_location","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"loc","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":490,"y":420,"wires":[["48ce1ed112f581d2"]]},{"id":"48ce1ed112f581d2","type":"api-current-state","z":"f6b9f3f3e4649edd","g":"8d89276ed603bb34","name":"Bateria","server":"49b5923d.6a16bc","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.2312dra50g_battery_level","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"bat","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":780,"y":420,"wires":[["c6d89c5fe820784a"]]},{"id":"c6d89c5fe820784a","type":"api-current-state","z":"f6b9f3f3e4649edd","g":"8d89276ed603bb34","name":"Wi-Fi","server":"49b5923d.6a16bc","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.2312dra50g_wifi_connection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"wif","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":1050,"y":420,"wires":[["da906a2aa6efd83f"]]},{"id":"9d7f647260e30366","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"8d89276ed603bb34","name":"ALEXA FALA O PAYLOAD","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":940,"y":540,"wires":[[]]},{"id":"da906a2aa6efd83f","type":"template","z":"f6b9f3f3e4649edd","g":"8d89276ed603bb34","name":"MONTA A MENSAGEM ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sua ultima localização foi obitida :{{loc}}, sua bateria está com {{bat}} % de carga, seu celular está conectado na rede:{{wif}}.","output":"str","x":410,"y":520,"wires":[["9d7f647260e30366","bd1306b8c7f2dc52","cad1e10a9efd108f"]]},{"id":"bd1306b8c7f2dc52","type":"debug","z":"f6b9f3f3e4649edd","g":"8d89276ed603bb34","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":620,"wires":[]},{"id":"cad1e10a9efd108f","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"8d89276ed603bb34","name":"GOOGLE HOME FALA O PAYLOAD","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"tts.google_translate_say","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\":\"media_player.nestmini1247\",\"message\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"tts","service":"google_translate_say","x":970,"y":620,"wires":[[]]},{"id":"e14a776e010d01da","type":"server-state-changed","z":"f6b9f3f3e4649edd","g":"8d89276ed603bb34","name":"","server":"3741d9375f186b45","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.cade_valmir"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":460,"wires":[["b9ba5cebc5d9a2f7"]]},{"id":"3741d9375f186b45","type":"server","name":"Home Assistant","addon":true},{"id":"b1a0c77ba5664971","type":"group","z":"f6b9f3f3e4649edd","name":"MODO SILENCIOSO","style":{"label":true},"nodes":["390fc1c895c452b1","56532fbdf91f2b06","f233c5af0262f7d0","245ca0e7da872359","78525c4e5ae787af"],"x":34,"y":679,"w":812,"h":262},{"id":"390fc1c895c452b1","type":"api-current-state","z":"f6b9f3f3e4649edd","g":"b1a0c77ba5664971","name":"Notificações por Voz Ativadas?","server":"49b5923d.6a16bc","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.input_boolean_notificacoes_por_voz","blockInputOverrides":false,"outputProperties":[],"for":"","forType":"num","x":430,"y":800,"wires":[["56532fbdf91f2b06"],["f233c5af0262f7d0","245ca0e7da872359"]]},{"id":"56532fbdf91f2b06","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"b1a0c77ba5664971","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"modo silecioso desligado , a parti de agora  todas as notificações por voz serão ativadas .\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":240,"y":720,"wires":[[]]},{"id":"f233c5af0262f7d0","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"b1a0c77ba5664971","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"modo silecioso ligado , a parti de agora  todas as notificações por voz serão desativadas! .\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":240,"y":900,"wires":[[]]},{"id":"245ca0e7da872359","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"b1a0c77ba5664971","name":"GOOGLE HOME FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"tts.google_translate_say","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\":\"media_player.home\",\"message\":\"PESSOA DETECTADA NA GARAGEM,POR FAVOR  VERIFICAR\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"tts","service":"google_translate_say","x":670,"y":900,"wires":[[]]},{"id":"78525c4e5ae787af","type":"server-state-changed","z":"f6b9f3f3e4649edd","g":"b1a0c77ba5664971","name":"modo silecioso","server":"49b5923d.6a16bc","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.input_boolean_notificacoes_por_voz"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":800,"wires":[["390fc1c895c452b1"],["390fc1c895c452b1"]]},{"id":"82535e9c43f83859","type":"group","z":"f6b9f3f3e4649edd","name":"LEMBRETES","style":{"label":true},"nodes":["5a11138363cbd7c3","36f86da5e33094e5","781e63dd127e688f","d3fb851de743fe85"],"x":1448,"y":53,"w":604,"h":494},{"id":"5a11138363cbd7c3","type":"group","z":"f6b9f3f3e4649edd","g":"82535e9c43f83859","name":"HORA DE TRABLAHAR","style":{"label":true},"nodes":["c13f99765f014b99","ed2397f31732a26f"],"x":1474,"y":199,"w":512,"h":82},{"id":"c13f99765f014b99","type":"inject","z":"f6b9f3f3e4649edd","g":"5a11138363cbd7c3","name":"Ativar às 12:45","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"45 12 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1600,"y":240,"wires":[["ed2397f31732a26f"]]},{"id":"ed2397f31732a26f","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"5a11138363cbd7c3","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"olá !,boa tarde ,são 12:45 é hóra de sair para trabalhar, e levar gustavo e guilherme para escola.\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1840,"y":240,"wires":[[]]},{"id":"36f86da5e33094e5","type":"group","z":"f6b9f3f3e4649edd","g":"82535e9c43f83859","name":"HORA DE ALMOÇAR","style":{"label":true},"nodes":["bd78d386985ba316","63d042a29d8a509b"],"x":1474,"y":79,"w":512,"h":82},{"id":"bd78d386985ba316","type":"inject","z":"f6b9f3f3e4649edd","g":"36f86da5e33094e5","name":"Ativar às 12:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 12 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1600,"y":120,"wires":[["63d042a29d8a509b"]]},{"id":"63d042a29d8a509b","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"36f86da5e33094e5","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"olá !,boa tarde ,são 12:30 é hóra de almoçar \",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1840,"y":120,"wires":[[]]},{"id":"781e63dd127e688f","type":"group","z":"f6b9f3f3e4649edd","g":"82535e9c43f83859","name":"ACORDA DE MANHA","style":{"label":true},"nodes":["5d28131569e6289b","bace3fd882f6f23b"],"x":1474,"y":319,"w":512,"h":82},{"id":"5d28131569e6289b","type":"inject","z":"f6b9f3f3e4649edd","g":"781e63dd127e688f","name":"Ativar às 06:20","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"20 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1600,"y":360,"wires":[["bace3fd882f6f23b"]]},{"id":"bace3fd882f6f23b","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"781e63dd127e688f","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"olá !,bom dia ,são 6:20  é hóra de acordar! ,que voçê tenha um exelente dia \",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1840,"y":360,"wires":[[]]},{"id":"d3fb851de743fe85","type":"group","z":"f6b9f3f3e4649edd","g":"82535e9c43f83859","name":"LOCALIZAR GUILHERME E BUSCAR GUSTAVO","style":{"label":true},"nodes":["bd6d8df3672730d9","af3812f82cca9226"],"x":1474,"y":439,"w":552,"h":82},{"id":"bd6d8df3672730d9","type":"inject","z":"f6b9f3f3e4649edd","g":"d3fb851de743fe85","name":"Ativar às 12:45","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"45 16 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1600,"y":480,"wires":[["af3812f82cca9226"]]},{"id":"af3812f82cca9226","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"d3fb851de743fe85","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"olá !,boa tarde ,são 16:30, é hóra de pegar gustavo na escola ,você tem 7 minutos para chegar ,por favor nâo se atrase\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1880,"y":480,"wires":[[]]},{"id":"38ae290ae4ce0844","type":"group","z":"f6b9f3f3e4649edd","name":"RELOGIO FALANTE ","style":{"label":true},"nodes":["def8286ac27086c8","865ba9ac8ed46a25","0c6f8d6f626ce85d","ac11b649deb06659"],"x":1174,"y":579,"w":872,"h":242},{"id":"def8286ac27086c8","type":"inject","z":"f6b9f3f3e4649edd","g":"38ae290ae4ce0844","name":"A cada hora cheia","props":[{"p":"payload"}],"repeat":"","crontab":"0 0 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1310,"y":700,"wires":[["865ba9ac8ed46a25"]]},{"id":"865ba9ac8ed46a25","type":"function","z":"f6b9f3f3e4649edd","g":"38ae290ae4ce0844","name":"Montar mensagem com saudação","func":"const agora = new Date();\nconst hora = agora.getHours();\n\nlet saudacao = \"\";\nif (hora >= 6 && hora < 12) {\n  saudacao = \"Bom dia! \";\n} else if (hora >= 12 && hora < 18) {\n  saudacao = \"Boa tarde! \";\n} else {\n  saudacao = \"Boa noite! \";\n}\n\nconst verbo = hora === 1 ? \"É\" : \"São\";\nconst unidadeHora = hora === 1 ? \"hora\" : \"horas\";\n\nconst frase = `${saudacao}${verbo} ${hora} ${unidadeHora}.`;\n\nmsg.payload = {\n  message: frase,\n  data: {\n    type: \"announce\"\n  }\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":700,"wires":[["0c6f8d6f626ce85d","ac11b649deb06659"]]},{"id":"0c6f8d6f626ce85d","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"38ae290ae4ce0844","name":"Alexa Fala (Echo Dot de Penha)","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"{{payload.message}}\",\"data\":{\"type\":\"announce\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","service_domain":"notify","x":1850,"y":620,"wires":[[]]},{"id":"ac11b649deb06659","type":"api-call-service","z":"f6b9f3f3e4649edd","g":"38ae290ae4ce0844","name":"Alexa Fala (Echo Dot de Penha)","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_pop_de_valmir","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"{{payload.message}}\",\"data\":{\"type\":\"announce\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_pop_de_valmir","service_domain":"notify","x":1890,"y":780,"wires":[[]]}]