node-red/deteccao de pessoa.json
[{"id":"949b8c469b1ca276","type":"group","z":"deb981f1bfbb5403","name":"DETECÇÃO DE PESSOA","style":{"stroke":"#ffC000","label":true,"label-position":"n","color":"#0070c0"},"nodes":["f0cb6b8bb62c5e9b","3ec6263c182721d8","95af667daeaf11ea","f078757aa1eb21df","4925c4f478c1c43b","df40d97ef0798016","6c72bfe3efb56569","368b1f735340dba8","1771023810f06f4f","3b65448a5f994d69","a68563546899af1f"],"x":94,"y":99,"w":1392,"h":302},{"id":"f0cb6b8bb62c5e9b","type":"server-state-changed","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"DETEÇÂO DE PESSOA NA GARRAGEM","server":"49b5923d.6a16bc","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.garagem_person_occupancy"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":240,"wires":[["95af667daeaf11ea","1771023810f06f4f"],[]]},{"id":"3ec6263c182721d8","type":"delay","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"","pauseType":"delay","timeout":"241","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":750,"y":360,"wires":[["f078757aa1eb21df"]]},{"id":"95af667daeaf11ea","type":"api-call-service","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"","server":"557923f3.94213c","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.iluminacao_switch_8"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_on","x":540,"y":360,"wires":[[]]},{"id":"f078757aa1eb21df","type":"api-call-service","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"","server":"557923f3.94213c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.iluminacao_switch_8"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_off","x":960,"y":360,"wires":[[]]},{"id":"4925c4f478c1c43b","type":"inject","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"TESTE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["a68563546899af1f","1771023810f06f4f"]]},{"id":"df40d97ef0798016","type":"api-call-service","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"ENVIA MENSAGEM E IMAGEM APARA O APP","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.notify","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"Alguém foi detectado na entrada!\",\"data\":{\"image\":\"/api/image_proxy/image.garagem_person?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIyOGY2M2M0OThjNmQ0NDUxOGU4ZmM1MWJiM2IzYmJhOCIsImlhdCI6MTc0Mjk4Nzc0MiwiZXhwIjoyMDU4MzQ3NzQyfQ.fc07qdRBJSpu1uGGPbekTJpvft6rp-zGsUK2hcKC5dE\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"","propertyType":"msg","value":"","valueType":"data"}],"queue":"all","blockInputOverrides":false,"domain":"notify","service":"notify","x":1280,"y":140,"wires":[[]]},{"id":"6c72bfe3efb56569","type":"api-call-service","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"PESSOA DETECTADA NA GARAGEM ,POR FAVOR  VERIFICAR.\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1220,"y":260,"wires":[[]]},{"id":"368b1f735340dba8","type":"api-call-service","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"GOOGLE HOME FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"tts.google_translate_say","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\":\"media_player.home\",\"message\":\"PESSOA DETECTADA NA GARAGEM,POR FAVOR  VERIFICAR\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"tts","service":"google_translate_say","x":1250,"y":200,"wires":[[]]},{"id":"1771023810f06f4f","type":"delay","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":140,"wires":[["df40d97ef0798016"]]},{"id":"3b65448a5f994d69","type":"api-call-service","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"ALEXA FALA A MENSAGEM","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"PESSOA DETECTADA NA GARAGEM ,POR FAVOR  VERIFICAR.\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1220,"y":320,"wires":[[]]},{"id":"a68563546899af1f","type":"api-current-state","z":"deb981f1bfbb5403","g":"949b8c469b1ca276","name":"Notificações por Voz Ativadas?","server":"49b5923d.6a16bc","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.input_boolean_notificacoes_por_voz","blockInputOverrides":false,"outputProperties":[],"for":"","forType":"num","x":890,"y":240,"wires":[[],["368b1f735340dba8","6c72bfe3efb56569","3b65448a5f994d69"]]},{"id":"49b5923d.6a16bc","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"557923f3.94213c","type":"server","name":"Home Assistant","addon":true}]