node-red/ncontre meu celular.json
[{"id":"d89fd8942031eb5b","type":"group","z":"be28923441c31016","name":"ENCONTRE VALMIR","style":{"label":true,"label-position":"n","color":"#0070c0"},"nodes":["6ef9dcd92a69e16c","59d1cf66562605b2","0d1a94d5056bd65b","e6478a4349a79fdb","46a15a97fb8b3ef8","f4c490b23e588f9c","7b57d0c80557dfdc","eeaa40d31ddbbb32","6253862f24762946"],"x":174,"y":119,"w":1112,"h":282},{"id":"6ef9dcd92a69e16c","type":"inject","z":"be28923441c31016","g":"d89fd8942031eb5b","name":"TESTE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"message\": \"Valmir, localizando seu celular...\", \"data\": { \"type\": \"tts\" }}","payloadType":"json","x":370,"y":160,"wires":[["59d1cf66562605b2"]]},{"id":"59d1cf66562605b2","type":"api-current-state","z":"be28923441c31016","g":"d89fd8942031eb5b","name":"Localização","server":"49b5923d.6a16bc","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.2312dra50g_geocoded_location","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"loc","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":630,"y":160,"wires":[["0d1a94d5056bd65b"]]},{"id":"0d1a94d5056bd65b","type":"api-current-state","z":"be28923441c31016","g":"d89fd8942031eb5b","name":"Bateria","server":"49b5923d.6a16bc","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.2312dra50g_battery_level","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"bat","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":920,"y":160,"wires":[["e6478a4349a79fdb"]]},{"id":"e6478a4349a79fdb","type":"api-current-state","z":"be28923441c31016","g":"d89fd8942031eb5b","name":"Wi-Fi","server":"49b5923d.6a16bc","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.2312dra50g_wifi_connection","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"wif","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","x":1190,"y":160,"wires":[["f4c490b23e588f9c"]]},{"id":"46a15a97fb8b3ef8","type":"api-call-service","z":"be28923441c31016","g":"d89fd8942031eb5b","name":"ALEXA FALA O PAYLOAD","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"notify.alexa_media_echo_dot_de_penha","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"{{payload}}\",\"data\":{\"type\":\"tts\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"notify","service":"alexa_media_echo_dot_de_penha","x":1080,"y":280,"wires":[[]]},{"id":"f4c490b23e588f9c","type":"template","z":"be28923441c31016","g":"d89fd8942031eb5b","name":"MONTA A MENSAGEM ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sua ultima localização foi obitida :{{loc}}, sua bateria está com {{bat}} % de carga, seu celular está conectado na rede:{{wif}}.","output":"str","x":550,"y":260,"wires":[["46a15a97fb8b3ef8","7b57d0c80557dfdc","eeaa40d31ddbbb32"]]},{"id":"7b57d0c80557dfdc","type":"debug","z":"be28923441c31016","g":"d89fd8942031eb5b","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":360,"wires":[]},{"id":"eeaa40d31ddbbb32","type":"api-call-service","z":"be28923441c31016","g":"d89fd8942031eb5b","name":"GOOGLE HOME FALA O PAYLOAD","server":"49b5923d.6a16bc","version":7,"debugenabled":false,"action":"tts.google_translate_say","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"entity_id\":\"media_player.nestmini1247\",\"message\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":true,"domain":"tts","service":"google_translate_say","x":1110,"y":360,"wires":[[]]},{"id":"6253862f24762946","type":"server-state-changed","z":"be28923441c31016","g":"d89fd8942031eb5b","name":"","server":"3741d9375f186b45","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_button.cade_valmir"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":360,"y":200,"wires":[["59d1cf66562605b2"]]},{"id":"49b5923d.6a16bc","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"3741d9375f186b45","type":"server","name":"Home Assistant","addon":true}]